

#company{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

#eduTitle{
    text-decoration: none;
    font-weight: 600;
    font-size:20px;
}

#eduAddress{
    color: blueviolet;
}
#eduTel{
    color: brown;

}
#eduTel{
    color: cadetblue;
}
#eduPeriod{
    color: chartreuse;
}
#eduExpense{
    color: chocolate;
}

#eduMax{
    color: brown;
}