doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GoodBe 상담
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="../public/css/video.css")

    body
        header
            h1 GoodBe Consult
            div#intro 이곳에서 국비교육에 관한 인사이트를 얻을 수 있습니다.
            hr#horizon

        main
           
            div#call
                video#peerFace(autoplay,playsinline)
                //-  width="1400", height="800"

                div#myStream
                    div#myVideoManage
                        video#myFace(autoplay,playsinline) 
                        //- , width="400", height="400"
                        
                        div#buttons
                            button#mute 음소거 OFF
                            button#camera 카메라 OFF
                            select#cameras
                            button#exit 종료

                    div#welcome
                        form#enterRoom    
                            input(placeholder="부여받은 방 번호를 입력하세요", required, type="text")
                            button 입장하기 

                    
                
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 